<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>
<configuration>
  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder"/>
  <import class="ch.qos.logback.core.ConsoleAppender"/>
  <property name="LOGS_HOME" value= "./logs/"/>

  <appender name="STDOUT" class="ConsoleAppender">
    <encoder class="PatternLayoutEncoder">
      <pattern>%-5level %logger{0} -%kvp- %msg%n</pattern>
    </encoder>
  </appender>


  <appender name="UPDATE-LOG" class="ch.qos.logback.core.FileAppender">
    <param name="Append" value="false" />
    <file>${LOGS_HOME}/logfile.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>%msg%n</Pattern>
    </encoder>
  </appender>
  <logger name="com.devonfw.tools.ide.url.model.folder.UrlErrorReport" level="info" additivity="false">
    <appender-ref ref="UPDATE-LOG"/>
  </logger>

  <root level="debug">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
